<!-- <script

src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

</script> -->
<!-- <div style="background-color: rgb(223, 236, 240);"> -->

<div class="heading">
  <h1 style="font-weight: 700; padding: 10px; text-align: center;">HR Dashboard</h1>
</div>

<td>
  <div class="div1">
    <canvas id="myBarChart" style="height: 300px; width: 300px;"></canvas><br>
    <p style="font-weight: bold; padding: 10px; text-align: center;">Days VS Working Hours</p>
  </div>
</td>

<td>
  <div class="div0" style="height: 300px; width: 300px; margin-left: 200px;">
    <canvas id="myChart"></canvas>
    <p style="font-weight: bold; padding: 10px; text-align: center;">Active Employee Count VS resigned Employee Count
    </p>
  </div>
</td>

<td>
  <div class="div2">
    <canvas id="barChart2" style="height: 30%; width: 30%;"></canvas>
    <p style="font-weight: bold; padding: 10px; text-align: center;">Days VS Salary</p>
  </div>
</td>
<!-- </div> -->
