<style>
  body{
    background-image: "https://images.pexels.com/photos/3201478/pexels-photo-3201478.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1";
  }
  p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-stretch: expanded;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 25%;
    font-size: xx-large;
  }
</style>

<body background="https://static.vecteezy.com/system/resources/previews/000/549/667/original/blue-particle-line-wave-abstract-background-modern-design-with-copy-space-vector-illustration-for-your-business-and-web-banner-design.jpg">
  <pre><p >Welcome to...<BR>
    ASTORIA FAMILY</p></pre>
</body>
